@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend+Exa:wght@100;200;300;400;500;600;700&family=Montserrat:wght@200&family=Quicksand:wght@300;400;500&family=Rancho&family=Rubik:wght@400;500;600;700&display=swap");


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

html {
  font-size: 62.5%;
}

/* HEADER */

.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: fixed;
  z-index: 9;
  backdrop-filter: blur(30px);
}

.logo {
  height: 100px;
  width: auto;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 7rem;
}

.main-nav-link{
  text-decoration: none; /* Remove the underline */
  color:white;
  font-weight: 1000;
  font-size: 2rem;
 
}

.main-nav-link:hover{
  color: orange;
  /* color: #fff; */
  text-shadow: 0 0 7px #d0e4ec, 0 0 10px #b9d7e3, 0 0 21px #a1cad9,
    0 0 42px #8abdd0;
}





